.customers h1 {
  text-align: center;
}

.customers h2 {
  text-align: center;
}

.customers h3 {
  text-align: center;
}
tr td.customerActive {
  /* text-align: center; */
  /* font-weight: bold; */
  font-size: 20px;
}
